@page
@model WebGui.Areas.Identity.Pages.Account.ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Obnova hesla";
}

<h1>@ViewData["Title"]</h1>
<p>
    Podívejte se prosím do svého emailu pro resetování hesla.
</p>