@model List<RegisterMe.Application.Cages.Dtos.Cage.CageDto>

@{
    ViewBag.Title = "Klece";
}

<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Šířka</th>
            <th scope="col">Délka</th>
            <th scope="col">Počet koček v kleci</th>

        </tr>
        </thead>
        <tbody>
        @foreach (var registration in Model)
        {
            <tr>
                <td>
                    <b>@registration.Width</b>
                </td>
                <td>
                    <b>@registration.Length</b>
                </td>
                <td>
                    <b>@registration.NumberOfCatsInCage</b>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>