@model RegisterMe.Application.CatRegistrations.Dtos.BreederDto

<div class="col-md-6  py-3">
    <h4>Informace o chovateli</h4>
    <p>
        <strong>Křestní jméno:</strong> @(Model.FirstName)
    </p>
    <p>
        <strong>Přijmení:</strong> @(Model.LastName)
    </p>
    <p>
        <strong>Země:</strong> @(Model.Country)
    </p>
</div>