@{
    ViewBag.Title = "404 - Stránka nenalezena";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<p>Stránka, kterou hledáte, nebyla nalezena.</p>
<p>Pokud si myslíte, že se jedná o chybu, kontaktujte prosím správce systému.</p>

<img src="~/Pictures/Error_cz.png" class="img-fluid" alt="404 - Stránka nenalezena"/>